﻿<?xml version="1.0" encoding="utf-8"?>
<pdef:Page id="AlarmPage" layoutRefId="MyLayout" xmlns:pdef="http://www.br-automation.com/iat2015/pageDefinition/v2">
  <Assignments>
    <Assignment type="Content" baseContentRefId="ContentAlarmPage" areaRefId="AreaMain" backColor="#2009E8" />
	<Assignment type="Content" baseContentRefId="ContentTop" areaRefId="AreaTop" backColor="#2CE890" />
	<Assignment type="Content" baseContentRefId="ContentLeft" areaRefId="AreaLeft" backColor="#2F3030" />
	<Assignment type="Content" baseContentRefId="ContentRight" areaRefId="AreaRight" backColor="#DFE82C" />
  </Assignments>
</pdef:Page>
